.questioncontainer {
  margin-left: 12px;
}

.questionheader {
  width: 49rem;
  height: 30px;
}
#setPhoto > p > img {
  width: 100%;
}
.editable {
  font-family: sans-serif;
  margin-left: 10%;
  width: 75%;
  min-height: 100px;
  /* border: 1px dashed #aaa; */
  border: 1px solid #aaa;
  padding: 5px;
  resize: none;
}
#upvote {
  display: inline !important;
  margin-right: 7px;
}

#questiontitle {
  margin-bottom: 20px !important;
}
.buttons {
  display: inline !important;
}

#answerbody{
    font-size: 16px;
}

.setPhoto{
font-size: 16px;
font-weight: 500;
margin-top: 30px;
margin-bottom: -10px;

}