.proText {
  border: none;
  font-family: "q_serif", Georgia, Times, "Times New Roman",
    "Hiragino Kaku Gothic Pro", "Meiryo", serif;
  color: black;
  font-weight: bold;
}

.prolink a {
  text-decoration: none;
  text-decoration-color: none;
  color: black;
}

.prolink a:hover {
  color: blue;
}

.head {
  color: #333;
  font-weight: 400;
  position: relative;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 16px;
  padding-bottom: 8px;
  font-size: 15px;
  letter-spacing: 0;
  text-transform: none;
}

.followerWrapper {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 20px;
}

.ui-button {
  border-radius: 40px !important;
  color: #1486f3 !important;
  background-color: #eaf4ff !important;
  box-shadow: inset 0 0 0 1px rgba(20, 134, 243, 0.09) !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 10px !important;
  padding-right: 15px !important;
  min-width: fit-content !important;
  font-size: 13px !important;
  transition: all 100ms ease-in-out 0s;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  user-select: none;
  text-decoration: none !important;
  position: relative !important;
  cursor: pointer !important;
  outline: none !important;
  margin-top: 30px;
}

.followsvg {
  margin-right: 10px;
}
