.questionCard {
  padding: 16px;
}
.js-wf-loaded .AddQuestionPrompt .AskQuestionButton,
.js-wf-loaded .TribeAddQuestionPrompt .AskQuestionButton,
.amp-page .AddQuestionPrompt .AskQuestionButton,
.amp-page .TribeAddQuestionPrompt .AskQuestionButton {
  font-family: "q_serif", Georgia, Times, "Times New Roman",
    "Hiragino Kaku Gothic Pro", "Meiryo", serif;
}
.askheader {
  margin-bottom: 4px;

  color: #949494;
}
.homex {
  margin-right: 6px;
}
.questionImg {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}
.user {
  color: #949494;
  font-size: 14px;
  text-decoration: none;
}
.AskQuestionButton {
  font-family: Georgia, Times, "Times New Roman", "Hiragino Kaku Gothic Pro",
    "Meiryo", serif;
  font-weight: bold;
  line-height: 1.3;
  color: #333;
  font-size: 18px;
  color: #949494;
  display: block;
}
a {
  text-decoration: none;
  color: #2b6dad;
}
a {
  background: transparent;
}
.AddQuestionPrompt,
.TribeAddQuestionPrompt {
  color: #949494;
  font-size: 13px;
  text-align: left;
}
