.sidebarList {
  list-style: none;
  padding-inline-start: 0px;
}

.SwitcherItemWithImage {
  display: inline-flex;
  margin-bottom: 8px;
  padding: 4px;
  margin-left: -4px;
  width: 100%;
  border-radius: 3px;
}

.swictherLink {
  display: flex;
}
.switcherImgWrapper {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 3px;
}

.SwitcherItemWithImage label {
  display: inline-block;
  color: #666;
  margin-left: 15px;
  margin-bottom: 0px;
  font-weight: 500;
  text-transform: none;
  font-size: 13px;
  line-height: initial;
}

.SwitcherItemWithImage:hover {
  background: #e6e6e6;
}

.swictherImg {
  background-image: url(https://qsf.fs.quoracdn.net/-3-images.icons.mobile_feed_switcher.feed_3x.png-26-94e21de5c18cba55.png);
  background-color: #b92b27;
  background-position: center !important;
  background-size: 90%;
  border-radius: 2px !important;
  height: 150%;
  width: 150%;
}

/*** CSS Bookmark ***/
.BookmarkswictherImg {
  background: #949494;
  background-position: center !important;
  border: 1px solid #949494;
  border-radius: 2px !important;
  height: 25px;
  width: 25px;
}

#bookmark {
  margin-left: 6px;
  margin-top: 6px;
  color: white;
}
.bookmarklabel {
  margin-left: 6px;
  font-weight: 700;
  font-size: 11px;
}

/*** CSS for sidebar topics ***/
.topicList {
  margin-left: -4px;
  padding: 3px 3px;
}

.topicList:hover {
  background: #e6e6e6;
  border-radius: 3px;
}

.swictherImgTopics {
  background-position: center !important;
  background-size: 100%;
  border-radius: 2px !important;
  height: 150%;
  width: 150%;
}
.topicname {
  margin-left: 15px;
  font-weight: 700;
}
