/* .cardstyle {
  width: 49rem;
} */
.card {
    margin-bottom: 8px;
  }
  .card-body {
    padding-bottom: 4px;
  }
  
  /* .test {
    data-toggle: collapse;
    aria-expanded: false;
    aria-controls: collapseSummary;
  }
  */
  /* #summary {
    font-size: 14px;
    line-height: 1.5;
  }  */
  
  #summary p.collapse:not(.show) {
    height: 42px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  #summary p.collapsing {
    min-height: 42px !important;
  }
  
  #summary a.collapsed:after {
    content: "...(more)";
    margin-left: 10px;
  }
  
  #summary a:not(.collapsed):after {
    content: "(less)...";
    margin-left: 10px;
  }
  
  .answers {
    color: #333 !important;
    font-weight: 500;
    font-family: "q_serif", Georgia, Times, "Times New Roman",
      "Hiragino Kaku Gothic Pro", "Meiryo", serif;
    font-size: 16px;
    line-height: 1.5rem;
  }
  
  .questions {
    color: #333;
    font-family: "q_serif", Georgia, Times, "Times New Roman",
      "Hiragino Kaku Gothic Pro", "Meiryo", serif;
    font-weight: 700;
    font-size: 18px;
  }
  
  .questions :hover {
    color: black;
  }
  
  /**** Buttons ****/
  
  .buttonbar {
    height: 40px;
    align-items: center;
    margin-top: 15px;
    padding: 15px 0px;
    background: lightblue;
  }
  
  /* #upvote {
    width: 120px;
    border-radius: 20px;
    display: inline;
    height: 30px;
    margin-top: -6px;
  } */
  #upvotearrow {
    size: 4px;
    display: inline;
  }
  
  .bookmarkcheckbox {
    float: right;
  }
  
  #checkbox {
    display: inline;
  }
  
  /*
  
  #downvote {
    float: right;
    border-radius: 110px;
    display: inline;
  }
  
  
  
  #labelbookmark{
    display:inline;
  }  */
  